$primaryText: #2a2738;
$secondaryText: #fff;

$highlight: #d6b360;

$titleFont: itc-avant-garde-gothic-pro, sans-serif;
$bodyFont: europa, sans-serif;

// Layout

.container {
    width: 100%;
}

.mx-auto {

    margin-left: auto;
    margin-right: auto;
}

.my-auto {

    margin-top: auto;
    margin-bottom: auto;
}

@mixin flexRow($wrap) {

    display: flex;
    flex-direction: row;
    flex-wrap: $wrap;
}

// Layout

//Buttons 

.btn {

    display: inline-block;
    border: solid 2px;
    border-radius: 50px;
    padding: 1em 2em;
    background: transparent;
    color: $primaryText;
    transition: color, background-color .15s ease-in;
    text-decoration: none;

    &.btn__outline--gold {

        border-color: $highlight;

        &:hover {

            background: $highlight;
            color: $secondaryText;
        }
    }

    &.btn--gold {

        background: $highlight;
        border-color: $highlight;
        color: $secondaryText;

        &:hover {

            background: $secondaryText;
            color: $highlight;
            border-color: $secondaryText;
        }
    }

}

//Buttons

//Text


@mixin fontStyle($type, $weight) {

    font-family: $type; 
    font-weight: $weight;
}

.text__dark {
    color: $primaryText;
}

.text__light {
    color: $secondaryText;
}

.text__highlight {
    color: $highlight;
}

.font__title--light {

    @include fontStyle($titleFont, 400);
}

.font__title--bold {

    @include fontStyle($titleFont, 700);
}

.font__body--light {

    @include fontStyle($bodyFont, 400)
}

.font__body--bold {

    @include fontStyle($bodyFont, 700);
}

//Text

//Animations

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAndUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInFromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@mixin fadeIn($duration, $timing, $delay) {

    animation: fadeIn $duration $timing $delay forwards;
}

@mixin fadeInAndUp($duration, $timing, $delay) {

    animation: fadeInAndUp $duration $timing $delay forwards;
}

@mixin fadeInFromLeft($duration, $timing, $delay) {

    animation: fadeInFromLeft $duration $timing $delay forwards;
}

@mixin fadeInFromRight($duration, $timing, $delay) {

    animation: fadeInFromRight $duration $timing $delay forwards;
}

//Animations